<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xatolik</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Xatolik yuz berdi</h1>
        <p><%= message %></p>
        <a href="/reservations" class="button">Bandlovlar ro‘yxatiga qaytish</a>
        <a href="/" class="button">Bosh sahifaga qaytish</a>
    </div>
</body>
</html>