<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mehmonxona Boshqaruv Tizimi</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Mehmonxona Boshqaruv Tizimi</h1>
        <ul>
            <li><a href="/guests">Mehmonlar</a></li>
            <li><a href="/rooms">Xonalar</a></li>
            <li><a href="/reservations">Bandlovlar</a></li>
            <li><a href="/room-types">Xizmatlar</a></li>
        </ul>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>